<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container home mt-5 w-75 color-carrusel">
    <div class="container d-flex w-50 p-3">
      <%- include('partials/carrusel') %>
    </div>
    </div>
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
</body>
</html>